<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>604000739827-ua8tbjs7cv2dpi97v7ab15q43ng9d6n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604000739827-ua8tbjs7cv2dpi97v7ab15q43ng9d6n1</string>
	<key>API_KEY</key>
	<string>AIzaSyBD6qhbiIUfZuxh8TTPYWas_FSgTax7pGo</string>
	<key>GCM_SENDER_ID</key>
	<string>604000739827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.love2code.FirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>authenticationdemo-40743</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationdemo-40743.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:604000739827:ios:8e41cac28b0f332c</string>
	<key>DATABASE_URL</key>
	<string>https://authenticationdemo-40743.firebaseio.com</string>
</dict>
</plist>